:root {
    --my-color-dark: rgb(18, 18, 18);
    --my-color-dark-2: rgb(30, 30, 30);
    --my-color-yellow: rgb(255, 237, 0);
}
section {
    padding: 20px;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    
}
h2 {
    color: white;
    font-size: 36px;
    text-align: center;
    font-weight: 500
}
.main-div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    gap: 52px;
}

#nav-bar a {
    color: white;

}
#nav-bar a:hover {
    color: var(--my-color-yellow);
}

.technology {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--my-color-dark-2);
    width: 120px;
    height: 120px;
    transition-duration: 300ms;


}
.technology:hover {
    scale: 1.1;
    background-color: var(--my-color-yellow);
}
.technology:hover svg {
    fill: var(--my-color-dark-2);
}
.technology:hover p {
    color: var(--my-color-dark-2);
}
.technology p {
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.technology svg {
    fill: white;
    
    height: 40px;
    width: 40px;
}

.project {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: var(--my-color-dark-2);
    width: 100%;
    transition-duration: 200ms;
}
.project:hover {
    box-shadow: 6px 6px 20px 5px black;
    scale: 1.02;
}

.project .project-inner {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.project-inner h3 {
    font-size: 24px;
    color: white;
    font-weight: 500;
}
.project-inner a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-inner svg {
    width: 20px;
    height: 20px;
    fill: white;
}
.p-info {
    color: white;
}
.project-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.project-technologies p {
    padding: 2px 12px;
    border-radius: 999px;
    border-width: 1px;
    border-style: solid;
   
}
.blue {
    border-color: blue;
    color: blue;
}
.light-green {
    border-color: greenyellow;
    color: greenyellow;
}
.red {
    border-color: red;
    color: red;
}

.oferta {
    padding: 20px;
    background-color: var(--my-color-dark-2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 700px;
}
.oferta h3 {
    color: white;
    font-size: 24px;
    font-weight: 500;
}
.oferta-checkboxs {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.oferta-checkboxs div {
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
}
.oferta-checkboxs div svg {
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 999px;
    fill: var(--my-color-yellow);
    background-color: var(--my-color-dark);
}
.price {
    color: var(--my-color-yellow);
    font-weight: 700;
    font-size: 24px;
}
.opis {
    color: rgb(156 163 175);
}
.oferta-opis {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 81px);
}
.oferta-inner {
    display: flex;
    gap: 16px;
    align-items: center;
}
.oferta-inner svg {
    fill: var(--my-color-yellow);
    width: 65px;
    height: 65px;
    padding: 10px;
    background-color: var(--my-color-dark);
    border-radius: 8px;
}
.wybierz-btn {
    color: var(--my-color-dark);
    background-color: var(--my-color-yellow);
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 100%;
    transition-duration: 200ms;
    border: 2px solid var(--my-color-yellow);
}
.wybierz-btn:hover {
    color: var(--my-color-yellow);
    background-color: var(--my-color-dark);

}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background-color: var(--my-color-dark);
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    box-shadow: 5px 5px 20px var(--my-color-dark);
}
.contact-info h3 {
    font-size: 24px;
    color: white;

}
.contact-info p {
    color: rgb(156 163 175);
}
.contact-info a {
    padding: 8px 16px;
    border-radius: 12px;
    color: var(--my-color-yellow);
    border: 2px solid var(--my-color-yellow);
    font-weight: 500;
}

.contact-info svg {
    width: 45px;
    height: 45px;
    
    
}